<main>
    <section class="text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light my-name">Christopher Baillie Olin</h1>
        </div>
        </div>
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="lead general-text">Welcome to my website! Here, you can learn more about me,
            see my resume, see some projects I've worked on, and read my blog about my travels.</p><%# , and some art I've made.</p> %>
        </div>
        </div>
    </section>
    <section  class="py-5 text-center container">
        <div class="container">
            <div class="row">
                <div class="col-md d-grid">
                    <a href="/about" class="btn btn-primary my-2 btn-lg p-5 homepage-button">about me</a>
                </div>
                <div class="col-md d-grid">
                    <a href="/resume" class="btn btn-primary my-2 btn-lg p-5 homepage-button">resume</a>
                </div>
                <div class="col-md d-grid">
                    <a href="/projects" class="btn btn-primary my-2 btn-lg p-5 homepage-button">projects</a>
                </div>
                <div class="col-md d-grid">
                    <a href="/blog" class="btn btn-primary my-2 btn-lg p-5 homepage-button">blog</a>
                </div>
                <%# <div class="col-md d-grid">
                    <a href="/art" class="btn btn-primary my-2 btn-lg p-5 homepage-button">art</a>
                </div> %>
            </div>
        </div>
    </section>
</main>