<main>
    <%= render "/shared/header", pageTitle: "about" %>
    <section class="container general-text">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <%= render "markdown/about"%>
        </div>
        </div>
        
    </section>
</main>