<main>
    <%= render "/shared/header", pageTitle: "about" %>
    <section class="text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <p class="lead general-text">Here is where I'll tell you about myself.</p>
        </div>
        </div>
    </section>
</main>