<!DOCTYPE html>
<html>
  <head>
    <title>C.B. Olin</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8c6eed97f6.js" crossorigin="anonymous"></script>

    <script src="/jquery-3.6.4.min.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>window.setToplevelDarkmodeState();</script>
  </head>

  <body>
    <button id="darkmode-button" title="toggle darkmode" onclick="toggleDarkmode()" class="btn darkmode-button"><i class="fa-regular fa-moon"></i></button>
    <%= yield %>
    <script>window.setDarkmodeState();</script>
  </body>
</html>
